/* Nav Control */
#nav-control {
  left: inherit;
  right: 2rem;
  top: 40px;
  border-radius: 0;
  z-index: 100000;
  width: 60px;
  height: 50px;
  background-color: transparent;
  line-height: 30px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #01aeef;
  border: none;
  border-radius: 0.2em;
}

#nav-control .box-menu-icon {
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  width: 20px;
  height: 5px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  list-style: none;

  top: 50%;
  bottom: auto;
  left: 0px;
  right: 15px;
  margin: 0 auto;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}

#nav-control .box-menu-icon::before,
#nav-control .box-menu-icon:after {
  content: "";
  width: 35px;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
  -webkit-transition: top 0.3s, background-color 0s, -webkit-transform 0.3s;
  transition: top 0.3s, background-color 0s, -webkit-transform 0.3s;
  transition: transform 0.3s, top 0.3s, background-color 0s;
  transition: transform 0.3s, top 0.3s, background-color 0s,
    -webkit-transform 0.3s;
}

#nav-control .box-menu-icon::before {
  top: -10px;
}

#nav-control .box-menu-icon::after {
  top: 10px;
}

#nav-control.active .box-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}

#nav-control.active .box-menu-icon::before,
#nav-control.active .box-menu-icon::after {
  background-color: 393939;
}

#nav-control.active .box-menu-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-control.active .box-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

#nav-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: inherit;
  width: 70vh;
  transition: all 0.5s;
  background-color: #01aeef;
  box-shadow: 1px 1px 1em 0.1em rgba(0, 0, 0, 0.1);
}

#nav-container.inactive {
  right: -100vw;
  opacity: 0;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  margin: 25vh 1vh 0;
}
@media only screen and (min-width: 300px) {
  #nav-container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #nav-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  #nav-container {
    width: 40%;
  }
}
@media only screen and (min-width: 1440px) {
  #nav-container {
    width: 30%;
  }
}
