/* reset */
.br-sm,
.br-md,
.br-nm,
.br-ex {
  display: none;
}
#layout {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .br-sm {
    display: inherit;
  }
  .box-distribute h2 {
    padding-left: 0;
    padding-right: 0;
  }
  .box-product p {
    font-size: 0.77em;
  }
  #iconrxphamacy .distributor-logo img {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .br-sm {
    display: inherit;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .br-md {
    display: inherit;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .br-nm {
    display: inherit;
  }

  /* extra layout */
  .sm-fix-width {
    margin-right: -1.2em;
  }

  #layout.active {
    transform: scale(0.7, 0.7) translateY(-21.5%) translateX(-21.5%);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .br-ex {
    display: inherit;
  }

  #layout.active {
    transform: scale(0.7, 0.7) translateY(-21.5%) translateX(-21.5%);
  }
}
